*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
ul {
    list-style-type: none;
}
.clear:after{
	content: '';
	display: block;
	height: 0;
	clear: both;
}
.middle{
	width: 1200px;
	height: 80px;
	margin: 0px auto;
}
.zuo{
	padding-left: 436px;
	padding-top: 10px;
}
#dingwei1{
	height: 85px;
	width: 180px;
	background: rgba(190,190,190,0.8);
	position: absolute;
	margin-top: 180px;
	padding-top: 15px;
	padding-left: 50px;
}
#dingwei1 span{
	font-size: 24px;
}
.dingwei1{
	height: 85px;
	width: 180px;
	background: rgba(190,190,190,0.8);
	position: absolute;
	margin-top: 180px;
	margin-left: 240px;
	padding-top: 15px;
	padding-left: 50px;
}
.dingwei1 span{
	font-size: 24px;
}
.dingwei2{
	height: 85px;
	width: 180px;
	background: rgba(190,190,190,0.8);
	position: absolute;
	margin-top: 180px;
	margin-left: 480px;
	padding-top: 15px;
	padding-left: 50px;
}
.dingwei2 span{
	font-size: 24px;
}
.dingwei3{
	height: 85px;
	width: 180px;
	background: rgba(190,190,190,0.8);
	position: absolute;
	margin-top: 180px;
	margin-left: 720px;
	padding-top: 15px;
	padding-left: 50px;
}
.dingwei3 span{
	font-size: 24px;
}
.dingwei4{
	height: 85px;
	width: 180px;
	background: rgba(190,190,190,0.8);
	position: absolute;
	margin-top: 180px;
	margin-left: 960px;
	padding-top: 15px;
	padding-left: 50px;
}
.dingwei4 span{
	font-size: 24px;
}

.head{
	position: relative;
	width: 100%;
	height: 66px;
	background: rgb(235, 134, 134);
	z-index:1;
}
.head1{
	width: 1200px;
	height: 66px;
	margin: 0 auto;
}
.yanse{
	background: rgba(240,111,64,0.1);
	padding-bottom: 15px;
}
.picture{
	float: left;
	width:10px;
	height:10px;
	margin-right:80px;
	margin-left: 10px;
}
.nav{
	float: left;
	height: 66px;
    margin-left: 100px;
    margin-top: 0px;
    line-height: 66px;
    text-align: center;
}
.nav li{
	padding-left: 20px;
    float: left;	
    padding-right: 10px;
}
.nav a{
	padding-left: 8px;
	padding-right: 8px;
	width: 38px;
	padding-bottom: 10px;
	text-align: center;
	color: black;
	font-size:18px
}
.nav a:hover{
	border-bottom: solid 2px rgba(238,59,59,0.8);
}
.form {
	display: inline;
	float: left;
	margin-left: 100px;
	margin-top: 12px;
}
.text{
	float: left;
	width:200px;
    height:40px;
    padding-left: 19px;
    background-color: #f3f5f7;
    border: 1px solid #00A4FF;
}
.submit{
	float: left;
	width:50px;
    height:42px;
    background:rgba(0,164,255,1) url(../images/fa-search.png)no-repeat center center;
    vertical-align: bottom;
    border: 1px solid #00A4FF;
}
.zuo{
	padding-left: 436px;
	padding-top: 10px;
}
.text1{
	width: 100px;
	height: 80px;
	display: inline-block;
	font-size: 25px;
	color: #666666;
	padding-top: 10px;
}
.box1{
	width: 1200px;
	height: 290px;
	margin: 0 auto;
	padding-top: 10px;
	position: relative;
}
.photo img{
	width: 230px;
	height: 280px;
	float: left;
	padding-right: 10px;
}
#main{
	background-color:rgba(240,111,64,0.1);
}
#pink{
	background-color: #ffc0cb;
}

.box2{
	width: 1200px;
	height: 80px;
	margin: 0px auto;
}
.box3{
	width: 1200px;
	height: 40px;
	margin: 0 auto;
	margin-top: 10px;
}
.box3 a{
	color: black;
	font-size: 15px;
	padding-right: 60px;
}
.tuijian{
	padding-left: 40px;
}
.box4{
	width: 1200px;
	height: 640px;
	margin: 0 auto;
}
.one{
    float: left;
    border: white 1px solid;
	margin-right: 5px;
	margin-top: 6px;
	margin-bottom: 6px;
	display: inline;
    width: 230px;
	height: 300px;
	background: white;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.picture1{
	padding-top: 4px;
	width: 230px;
	height: 200px;
}
.eat{
	padding-left: 10px;
}
.day{
	margin-left: 10px;
	margin-top: 9px;
	width: 70px;
	height: 20px;
	background: pink;
	font-size: 13px;
	border: 0.5px solid red;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.mei{
	color: white;
	margin-top: 9px;
	margin-left: 10px;
	display: inline-block;
	height: 16px;
	width: 36px;
	background: #ff0036;
	font-size: 11px;
}
.money{
	color: black;
}

.box5{
	width: 100%;
	height: 300px;
	background: white;
}
.box7{
	height: 100px;
	width: 1200px;
	margin: 0 auto;
	padding-top: 10px;
}
.left{
	float: left;
	padding-left: 10px;
}
.shengming{
	display: inline-block;
	width: 180px;
	height: 50px;
	margin-top: 25px;
}
.shang{
	font-size: 22px;
}
.xia{
	font-size: 16px;
	color: gray;
}
.box8{
	height: 200px;
	width: 1200px;
	margin: 0 auto;
}
.box6{
	width: 100px;
	height: 150px;
	float: left;
	margin-left: 80px;
	padding-top: 30px;
	margin-right: 100px;
}
.box6 a{
	color: #838B8B;
}
.big a{
	font-size: 18px;
	color: black;
}
.box6 li{
	margin-bottom: 6px;
}
.box9{
	background: black;
	width: 100%;
	height: 200px;
}
.box10{
	margin: 0 auto;
	width: 1200px;
	height: 200px;
}
.help{
	width: 1200px;
	height: 60px;
}
.help a{
	padding-top: 30px;
	color: white;
	float: left;
	margin-left: 32px;
	font-size: 13px;
}
.tel{
	width: 1200px;
	height: 40px;
}
.tel li{
    float: left;
	font-size: 11px;
	color: white;
	margin-right: 40px;
	margin-left: 20px;
	padding-top: 10px;
}
.title1{
	width:100%;
	height:40px;
    background-color:rgb(245, 164, 164);
}
.title{
	color:black;
	width:450px;
	height:40px;
    line-height:40px;
}
.title2{
    width:500px;
	height:40px;
    margin-left:2px;
}
.come{
	height: 66px;
	width: 60px;
}
.com{
	margin:0 auto;
    width:1200px;
    height:40px;
    padding-top:12px;
   margin-left:10px;
}
.come a{
	padding-left:20px;
	height:40px;
	line-height:40px;
	color:white;
}
#smallpic{
	height:120px; 
	width:1000px;
	margin:0 auto;
}
#smallpic img{
	margin-right:2px;
    margin-left:3px;
    margin-top:3px;
}
#smallpic img:hover{
	cursor:pointer;
}
#bigpic{
	width:1000px;
	height:500px;
	margin:0 auto;
    display: block;
}
.change{
    width:1100px;
    height:600px;
    margin:0 auto;
    display: block;
    position:relative;
}
#wrap1{
    width: 650px;
    height: 360px;
    border: #cbbecc 1px solid;
    position: absolute;
    z-index: 999;
    background-color: white;
    top: 20%;   
    left: 30%; 
    display:none
}
#wrap {
    width: 485px;
    height:250px;
    margin: 20px auto;
} 

#mark {
    line-height: 1.5em;
}

#mark h1 {
    height: 29px;
    background: url(../images/bg.jpg);
    font-family: "黑体";
    font-size: 12px;
    line-height: 29px;
    padding-left: 20px;
    letter-spacing: 2px;
}

#pic {
    margin: 10px 0px;
}

#txt {
    width: 100%;
    height: 170px;
    margin: 0px auto;
}

.btn {
    width: 75px;
    height: 22px;
    background: url(../images/sanjiao.png) no-repeat right center;
    float: right;
}
.time1{
	height:20px;
	width:50px;
}
#time{
	height:20px;
	width:50px;
}
.btnTop{ position: fixed; 
	right: 2%; 
	bottom: 2%; 
	cursor: pointer; 
	opacity: .7; 
	z-index: 9; 
}
.btnTop:hover{ 
	opacity: 1;
}
.imageTop{ 
	height: 72px; 
	height: 72px;
}

#box1 {
    width: 300px;
    height: 50px;
    border: gray 1px solid;
    padding-left: 10px;
}

#box2 {width: 300px;
    height: 50px;
    padding-left: 10px;
    border: gray 1px solid;
}
#box3 {
    width: 300px;
    height: 50px;
    border: gray 1px solid;
    padding-left: 10px;
}

#box4 {width: 300px;
    height: 50px;
    padding-left: 10px;
    border: gray 1px solid;
}

#input1 {
    margin-left: 10px;
    width: 200px;
    height: 50px;
    background: none;
    outline: none;
    border: none;
    font: 20px black solid;
}

#input2 {
    padding-left: 10px;
    width: 200px;
    height: 50px;
    background: none;
    outline: none;
    border: none;
    font: 20px black solid;
}
#input3 {
    margin-left: 10px;
    width: 200px;
    height: 50px;
    background: none;
    outline: none;
    border: none;
    font: 20px black solid;
}

#input4 {
    padding-left: 10px;
    width: 200px;
    height: 50px;
    background: none;
    outline: none;
    border: none;
    font: 20px black solid;
}

#text1 {
    font-size: 13px;
    line-height: 50px;
    display: block;
    text-align: center;
    float: left;
}

#text2 {
    font-size: 13px;
    line-height: 50px;
    display: block;
    text-align: center;
    float: left;
}
#text7 {
    font-size: 13px;
    line-height: 50px;
    display: block;
    text-align: center;
    float: left;
}

#text6 {
    font-size: 13px;
    line-height: 50px;
    display: block;
    text-align: center;
    float: left;
}

#tip1 {
    width: 300px;
    margin-top: 10px;
    height: 30px;
    font-size: 13px;
}

#tip2 {
    width: 300px;
    margin-top: 10px;
    height: 30px;
    font-size: 13px;
}
#tip3 {
    width: 300px;
    margin-top: 10px;
    height: 30px;
    font-size: 13px;
}

#tip4 {
    width: 300px;
    margin-top: 10px;
    height: 30px;
    font-size: 13px;
}

#button1 {
    background-color: red;
    width: 200px;
    height: 30px;
    color: white;
}

#one {
    width:400px;
    height:400px;
    margin-top:30px;
    margin-left:30px;
    display: inline-block;
}

#two {
    margin-top:60px;
    float: right; 
    height: 100px;
    width: 200px;
}

#text3 {
    color: red;
    font-size: 15px;
}

#text4 {
    color: red;
    font-size: 15px;
    padding-top:40px;
    padding-bottom:40px;
}

#text5 {
    color: red;
    font-size: 15px;
}
#button1 {
    background-color: rgb(231, 161, 161);
    width: 310px;
    height: 50px;
    color: white;
}
#button2 {
    background-color: rgb(231, 161, 161);
    width: 310px;
    height: 50px;
    color: white;
}
#box11{
    width: 400px;
    height: 360px;
    border: #cbbecc 1px solid;
    position: absolute;
    z-index: 999;
    background-color: rgb(241, 207, 207);
    top: 20%;   
    left: 30%; 
    display:none;
}
#box12{
    width: 400px;
    height: 360px;
    border: #cbbecc 1px solid;
    position: absolute;
    z-index: 999;
    background-color: rgb(241, 207, 207);
    top: 20%;   
    left: 30%; 
    display: none;
}
#close{
    background-color: white;
   float:right;
}
#close1{
    background-color: white;
   margin-left:625px;
}
#close2{
  background-color: white;
  float:right;
}
#error{
    width:25px;
    height:25px;
}
#login{
   background-color:  rgba(238, 101, 101, 0.1);
   border:none;
   color:white;
   font-size:16px;
   margin-top:8px;
   margin-right:12px;
   margin-left:40px;
}
#zhuce{
    background-color:  rgba(238, 101, 101, 0.1);
    border:none;
    color:white;
    font-size:16px;
    margin-top:8px;
    margin-right:12px;
}
#pingjia{
    background-color:  rgba(238, 101, 101, 0.1);
   border:none;
   color:white;
   font-size:16px;
   margin-top:8px;
   margin-right:12px;
}
